<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGI-IT Login</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/transitions.css">
</head>
<body id="swup">
  @include('partials/scripts/transitionsSwup_js.edge')
  <main>
    <div class="container container--register">
      <h2>Iniciar sesión</h2>
      <form action="{{ route('AuthController.login') }}" method="post">
        {{ csrfField() }}          
        <input type="text" name="uuid" placeholder="Usuario o correo">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="submit" value="Iniciar sesión" class="btn_primary">          
      </form>
      <div>
        <p class="redirect">No tengo cuenta: <a href="{{ route('AuthController.registerForm') }}">Crear cuenta</a></p>
        @if(flashMessages.has('errors'))
          <p class="errors">{{ flashMessages.get('errors') }}</p>
        @end
      </div>
    </div>    
  </main>
  
</body>
</html>