<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGI-IT {{t('generalPages.login')}}</title>
    @entryPointStyles('scss')
</head>
<body >
  <main>
    <div class="container container--register">
      <h2>{{t('generalPages.login')}}</h2>
      <form action="{{ route('AuthController.login') }}" method="post">
        {{ csrfField() }}          
        <input type="text" name="uuid" placeholder="{{t('generalPages.uuid')}}">
        <input type="password" name="password" placeholder="{{t('generalPages.password')}}">
        <div><input type="checkbox" name="remember">{{t('generalPages.remember_user')}}</div>
        <input type="submit" value="{{t('generalPages.login')}}" class="btn_primary">          
      </form>
      <div>
        <p class="redirect">{{t('generalPages.withOutAccount')}} <a href="{{ route('AuthController.registerForm') }}">{{t('generalPages.createAccount')}}</a><br>
          @if(flashMessages.has('errors'))
          <span class="errors">{{ flashMessages.get('errors') }}</span>
        @end
        </p>
        
      </div>
    </div>    
  </main>
  
</body>
</html>