<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/transitions.css">
</head>
<body id="swup" class="welcomeLoginRegisterBody">
  @include('partials/scripts/transitionsSwup_js.edge')
  <main class="formButtonersBaseStyle formButtonersBaseLayout transition-fade" id="registerForm">
    <h2>Crear usuario</h2>
    <form action="{{ route('AuthController.register') }}" method="post">
      {{ csrfField() }}
      <label for="username">Usuario</label>
      <input type="text" name="username"        
      @if(flashMessages.has('username'))
        value="{{flashMessages.get('username')}}"
      @end
      >
      <br>
      @if(flashMessages.has('messages.username')) 
      <p class="errors">{{ flashMessages.get('messages.username')}}</p>        
      @end

      <label for="email">Correo electronico</label>
      <input type="email" name="email"        
      @if(flashMessages.has('email'))
        value="{{flashMessages.get('email')}}"
      @end
      >
      @if(flashMessages.has('messages.email'))
      <p class="errors">{{ flashMessages.get('messages.email')}}</p>   
      @end
      <br>
      <label for="email_confirmation">Confirmación correo electronico</label>
      <input type="email" name="email_confirmation">
      @if(flashMessages.has('messages.email_confirmation'))
      <p class="errors">{{ flashMessages.get('messages.email_confirmation')}}</p>   
      @end
      <br>
      <label for="password">Contraseña</label>
      <input type="password" name="password">
      @if(flashMessages.has('messages.password'))
      <p class="errors">{{ flashMessages.get('messages.password')}}</p>   
      @end
      <br>
      <label for="password_confirmation">Confirmar contraseña</label>
      <input type="password" name="password_confirmation">
      @if(flashMessages.has('messages.password_confirmation'))
      <p class="errors">{{ flashMessages.get('messages.password_confirmation')}}</p>   
      @end
      <br>
      <label for="name">Nombre</label>
      <input type="text" name="name"        
      @if(flashMessages.has('name'))
        value="{{flashMessages.get('name')}}"
      @end
      >
      @if(flashMessages.has('messages.name'))
      <p class="errors">{{ flashMessages.get('messages.name')}}</p>   
      @end
      <br>
      <label for="surname">Apellidos</label>
      <input type="text" name="surname"        
      @if(flashMessages.has('surname'))
        value="{{flashMessages.get('surname')}}"
      @end
      >
      @if(flashMessages.has('messages.surname'))
      <p class="errors">{{ flashMessages.get('messages.surname')}}</p>   
      @end

      <input type="submit" value="Registro">
    </form>
  </main>    
</body>
</html>