<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    
    <form action="{{ route('AuthController.register') }}" method="post">
        {{ csrfField() }}
             
        
        <label for="username">Usuario</label>
        <input type="text" name="username">
        @if(flashMessages.has('messages.username')) 
        <p>{{ flashMessages.get('messages.username')}}</p>        
        @end

        <label for="email">Correo electronico</label>
        <input type="email" name="email">
        @if(flashMessages.has('messages.email'))
        {{ flashMessages.get('messages.email')}}
        @end

        <label for="email_confirmation">Confirmación correo electronico</label>
        <input type="email" name="email_confirmation">
        @if(flashMessages.has('messages.email_confirmation'))
        {{ flashMessages.get('messages.email_confirmation')}}
        @end

        <label for="password">Contraseña</label>
        <input type="password" name="password">
        @if(flashMessages.has('messages.password'))
        {{ flashMessages.get('messages.password')}}
        @end

        <label for="password_confirmation">Confirmar contraseña</label>
        <input type="password" name="password_confirmation">
        @if(flashMessages.has('messages.password_confirmation'))
        {{ flashMessages.get('messages.password_confirmation')}}
        @end
        <input type="submit" value="Registro">
    </form>
</body>
</html>