<div>
    <h3><a href="{{route('TicketsController.index')}}">{{ t('generalPages.tickets') }}</a> > {{ t('tickets.ticket') }}-{{ticket.id}}</h3>
    <section>
        <a href="#delete_confirmation" class="btn_delete" id="delete_ticket" title="{{ t('generalPages.deleteTicket') }}"><i class="material-icons">remove</i></a>
    </section>    
</div>