<div>
    <h3>{{ t('generalPages.ticketsList') }}</h3>
    <section>
        <a href="#create_ticket" title="{{ t('generalPages.CreateTicket') }}" id="create_ticketButton"><i class="material-icons">add</i></a>
    </section>
</div>
