<div>
    <h3><a href="{{route('TicketsController.index')}}">Tickets</a> > Ticket-{{ticket.id}}</h3>
    <section>
        <a href="#delete_confirmation" class="btn_delete" id="delete_ticket" title="Eliminar ticket"><i class="material-icons">remove</i></a>
    </section>    
</div>