<div>
    <h3><a href="{{route('UsersController.index')}}">Usuarios</a> > Usuario: {{user.username}}</h3>
    @if(auth.user.id == user.id || auth.user.roles == Roles.ADMIN)
        <a href="#edit_user" title="Editar usuario"><i class="material-icons">edit</i></a>
    @endif
</div>
