<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>    
    @entryPointStyles('scss')
    <script>
        
        //Tickets por estado
        const statusTickets = {
            labels: [
                '{{State.OPEN}}',
                '{{State.INPROGRESS}}',
                '{{State.SOLVED}}',
            ],
            datasets: [{
                label: 'Tickets/Estado',
                data: [{{OpenTickets[0]['total']}}, {{InProgressTickets[0]['total']}}, {{SolvedTickets[0]['total']}}],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };
        //Tickets asignados al usuario
        const asignedTickets = {
            labels: [
                'Tickets asignados',
                'Tickets sin asignar',
            ],
            datasets: [{
                label: 'Tickets',
                data: [{{AssignedTickets}}, {{NoAssignedTickets}}],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)'
                ],
                hoverOffset: 4
            }]
        };
    </script>
    <script defer src="{{ asset('assets/app.js') }}"></script>
</head>
<body>
    <main id="swup">
      @include('partials/nav.edge')
    <div>
      @include('partials/header.edge')
      <div>
        <section class="dashboard">
            <section>
                @if(auth.user.roles != Roles.REQUESTER)
                    <a href="{{route('TicketsController.index')}}?requester={{auth.user.id}}">
                        <h3>Tickets creados por: {{auth.user.username}}</h3>
                        <i class="material-icons">confirmation_number</i>
                    </a>
                @endif
                
                <a href="{{route('TicketsController.index')}}?technician={{auth.user.id}}">
                    <h3>Tickets asignados</h3>
                    <i class="material-icons">business_center</i>
                </a>
                <a href="#create_ticket" title="Crear ticket" id="create_ticketButton">
                    <h3>Crear ticket</h3>
                    <i class="material-icons">add</i>
                </a>
            </section>
            <section>
                <h3>Grafos de desempeño</h3>
                <div class="kpi">
                    <canvas id="statusTickets"></canvas>
                    <p>Todos los tickets segun su estado</p>
                </div>
                <div class="kpi">
                    <canvas id="asignedTickets"></canvas>
                    <p>Todos los tickets sin cerrar segun su asignacion</p>
                </div>
            </section>
            
        </section>
        </div>
    </div>
  </main>
  {{ csrfField() }}
  @include('partials/createTicketModal.edge')
</body>
</html>