<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ t('generalPages.titleDashboard') }}</title>    
    @entryPointStyles('scss')
    <script>
        const statusTicketsTitle = '{{ t('generalPages.kpiLabelStatusTickets') }}'
        const asignedTicketsTitle = '{{ t('generalPages.unsolvedTickets') }}'
        //Tickets por estado
        const statusTickets = {
            labels: [
                '{{ t('enums.states', { state: State.OPEN }) }}',
                '{{ t('enums.states', { state: State.INPROGRESS }) }}',
                '{{ t('enums.states', { state: State.SOLVED }) }}',
            ],
            datasets: [{
                label: '{{ t('generalPages.kpiLabelStatusTickets') }}',
                data: [{{OpenTickets[0]['total']}}, {{InProgressTickets[0]['total']}}, {{SolvedTickets[0]['total']}}],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };
        //Tickets asignados al usuario
        const asignedTickets = {
            labels: [
                '{{ t('generalPages.kpiLabelAsignedTicketsAssigned') }}',
                '{{ t('generalPages.kpiLabelAsignedTicketsNotAssigned') }}',
            ],
            datasets: [{
                label: '{{ t('generalPages.kpiDatasetLabelAsignedTickets') }}',
                data: [{{AssignedTickets}}, {{NoAssignedTickets}}],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)'
                ],
                hoverOffset: 4
            }]
        };
    </script>
    <script defer src="{{ asset('assets/app.js') }}"></script>
</head>
<body>
    <main>
      @include('partials/nav.edge')
    <div>
      @include('partials/header.edge')
      <div>
        <section class="dashboard">
            <section>
                @if(auth.user.roles != Roles.REQUESTER)
                    <a href="{{route('TicketsController.index')}}?requester={{auth.user.id}}">
                        <h3>{{ t('generalPages.ticketCreatedBy', {username: auth.user.username}) }}</h3>
                        <i class="material-icons">confirmation_number</i>
                    </a>
                @endif
                
                <a href="{{route('TicketsController.index')}}?technician={{auth.user.id}}">
                    <h3>{{ t('generalPages.AssignedTickets') }}</h3>
                    <i class="material-icons">business_center</i>
                </a>
                <a href="#create_ticket" title="{{ t('generalPages.CreateTicket') }}" id="create_ticketButton">
                    <h3>{{ t('generalPages.CreateTicket') }}</h3>
                    <i class="material-icons">add</i>
                </a>
            </section>
            <section>
                <h3>{{ t('generalPages.kpiTitle') }}</h3>
                <div class="kpi">
                    <canvas id="statusTickets"></canvas>
                    <p>{{ t('generalPages.kpiStatusTicketsDescription') }}</p>
                </div>
                <div class="kpi">
                    <canvas id="asignedTickets"></canvas>
                    <p>{{ t('generalPages.kpiAsignedTicketsDescription') }}</p>
                </div>
            </section>
            
        </section>
        </div>
    </div>
  </main>
  {{ csrfField() }}
  @include('partials/createTicketModal.edge')
</body>
</html>