<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>    
    @entryPointStyles('scss')
    <script>
        
        //Tickets por estado
        const statusTickets = {
            labels: [
                '{{State.OPEN}}',
                '{{State.INPROGRESS}}',
                '{{State.SOLVED}}',
            ],
            datasets: [{
                label: 'Tickets/Estado',
                data: [{{OpenTickets[0]['total']}}, {{InProgressTickets[0]['total']}}, {{SolvedTickets[0]['total']}}],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };
        
        //Tickets asignados al usuario
        const asignedTickets = {
            labels: [
                '{{State.OPEN}}',
                '{{State.INPROGRESS}}',
                '{{State.SOLVED}}',
            ],
            datasets: [{
                label: 'Tickets/Estado',
                data: [{{OpenTickets[0]['total']}}, {{InProgressTickets[0]['total']}}, {{SolvedTickets[0]['total']}}],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };
    </script>
    <script defer src="{{ asset('assets/app.js') }}"></script>
</head>
<body>
    <main>
      @include('partials/nav.edge')
    <div>
      @include('partials/header.edge')
      <div>
        <div style="width: 400px;"><canvas style="width: 400px;" id="statusTickets"></canvas></div>
      </div>
    </div>
  </main>
</body>
</html>