<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SGI-IT</title>
  @entryPointStyles('scss') 
</head>

<body>
    <main class="notLogged">
      <div class="container container--index">
        <h2>SGI-IT</h2>
        @!component('components/button-url.edge', {
        url: route('AuthController.loginForm'),
        text: t('generalPages.login') 
        })
  
        @!component('components/button-url.edge', {
        url: route('AuthController.registerForm'),
        text: t('generalPages.createAccount') 
        })
      </div>      
    </main>
    
</body>

</html>