<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usuario</title>    
    @entryPointStyles('scss')
</head>
<body>
    <main class="error-pages">
        <div>
            <h2>404</h2>
            <a href="/">El recurso que solicitaste no se ha encontrado, clique para volver</a>
        </div>
    </main>
</body>
</html>