<nav class="navigation">
    <ul>
        <li><a href="{{route('TicketsController.index')}}">Tickets</a></li>
        <li><a href="{{route('TicketsController.index')}}">Tickets 2</a></li>
    </ul>
</nav>