#loginForm {
  grid-template-rows: 20% 20% 20% 20%;
  grid-column-start: 3;
  grid-column-end: 3;
}
#loginForm > form {
  display: grid;
  grid-template-rows: 20% 20% 20%;
  grid-row: 2 / 5;
  gap: 1rem;
}
#loginForm > form > * {
  font-size: 1rem;
}
#loginForm > form > input[type="submit"] {
  grid-row: 4;
  margin-left: 1rem;
  margin-right: 1rem;
}
#loginForm > form > input[type="text"] {
  grid-row: 1;
}
#loginForm > form > input[type="password"] {
  grid-row: 2;
}
#loginForm > form > input[type="text"],
#loginForm > form > input[type="password"] {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 80%;
  transition: width 1.5s;
  justify-self: center;
  text-align: center;
}

#loginForm > form > input[type="text"]:focus,
#loginForm > form > input[type="password"]:focus {
  width: 90%;
  transition: width 1.5s;
}
