body {
  grid-template-columns: 1fr repeat(3, 3fr) 2fr;
  grid-template-rows: 1fr repeat(4, 3fr);
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  grid-auto-flow: column;
  height: calc(100vh - 1rem);
}

.navigation {
  grid-area: 1 / 1 / 6 / 2;
}

.header {
  grid-area: 1 / 2 / 2 / 6;
}

.ticketInfo {
  grid-area: 2 / 5 / 6 / 6;
}
.tickets {
  grid-area: 2 / 2 / 6 / 5;
  overflow: auto;
}
.tickets > :first-child {
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.tickets > div {  
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr 1fr;
}

.suggestionList {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}
/*
.ticket{
  display: grid;
  grid-template-rows: 1fr 4fr 2fr;
}*/
#requesterId,#technicianId {
  display: none;
}
#description{
  background-color: #A3CEF1;
  padding: 1rem 1rem 3rem 1rem;
  border-radius: 1.25rem;
}
textarea {
  resize: none;
  overflow: hidden;
  width: 100%;
  min-height: 10rem;
}