.container {
  display: grid;
  grid-template-columns: 1fr repeat(4, 2fr);
  grid-template-rows: 1fr repeat(4, 2fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  height: 98vh;
}

.navigation {
  grid-area: 1 / 1 / 6 / 2;
  background-color: #274C77;
}
.header {
  grid-area: 1 / 2 / 2 / 6;
}
.ticketInfo {
  grid-area: 2 / 5 / 6 / 6;
  background-color: #A3CEF1;
}
.tickets {
  grid-area: 2 / 2 / 6 / 5;
}
.tickets > div {  
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2fr 2fr 1fr 2fr 1fr;
}
