body {
    grid-template-columns: 1fr repeat(3, 3fr) 2fr;
    grid-template-rows: 1fr 1fr repeat(3, 3fr);
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    grid-auto-flow: column;
    height: calc(100vh - 1rem);
}
.navigation {
    grid-area: 1 / 1 / 6 / 2;
}

.header {
    grid-area: 1 / 2 / 2 / 6;
}
.mainInfo {
    grid-area: 2 / 2 / 4 / 6; /* Ajusta las filas según sea necesario */
    background-color: rebeccapurple;
}

.extraInfo {
    grid-area: 4 / 2 / 6 / 6; /* Ajusta las filas según sea necesario */
    background-color: royalblue;
}