@import "variables.scss";
@import "nav.scss";
@import "aside.scss";
@import "header.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  margin: 0;
  padding: 0;
  background-color: $color-background;
  font-family: $font-family-p;
}

h2 {
  font-family: $font-family-header;
  margin: 0;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    //Se añade > para segurarse que sea la anidacion directa
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    > div {
      //Se añade > para segurarse que sea la anidacion directa
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 90%;
    }
  }
}
.common {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  background-color: $color-background-card;
  padding: 0 1rem;
  >div {
    height: calc(100% - 2rem);    
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      max-height: calc(100% / 12);
      height: 100%;
      &:first-child {
        cursor: default;
        background-color: $color-background;
        text-align: center;
        border: 1px solid $color-border;
      }
    }
  }  
  //Paginacion
  .pagination {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 2rem;
    padding: 1rem 0;
    .page {
      text-align: center;
      border-radius: 1rem;
      color: black;
      min-width: 1rem;
    }  
    .page-active {
      background-color: $color-btn-light;
      color: $color-background-card;
    }
  }
}
.users {
  >div {
    gap: 1rem;
    >div {      
      height: 100%;
      max-height: calc(100% / 12);
      >p {        
        padding: auto;
        margin: auto;
        width: calc(100% / 5);
      }
      &.user {
        text-align: center;
        border: 1px solid $color-border;      
      }
    }     
  }
}
 
//
.tickets {
  div {    
    //Los tamaños de cada sección de los tickets
    &.ticket {
      text-align: center;
      border: 1px solid $color-border;

    }
    .subject {
      text-align: left;
      margin-left: 0.5rem;
      width: 45%;
      overflow: hidden;
    }
    .requester {
      width: 15%;
    }
    .state {
      width: 10%;
    }
    .technician {
      width: 20%;
    }
    .createdAt {
      width: 10%;
    }
  }
}
a {
  text-decoration: none;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

input, textarea {
  border-radius: $border-radius-sm;
  border: 1px solid $color-accent;
  text-align: center;
  font-size: 14px;
  color: $color-accent;
  &.createTicketSubject {
    padding: 0.5rem;
    text-align: left;
  }
}
textarea {
  &.createTicketDescription {
    text-align: left;
    padding: 0.5rem;
    max-width: 100%;
    height: 5rem;
    max-height: 5rem;
  }
} 
label {
  font-size: 14px;
  color: $color-accent;
}

.container {
  background-color: $color-background-card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
  border-radius: $border-radius-lg;
  border: 1px solid $color-bg-card;
  box-shadow: $box-shadow-sm;
  gap: 1rem;
}

.container--index {
  max-width: 30rem;
  max-height: 15rem;
}

.container--register {
  max-width: 30rem;
  max-height: 30rem;
  height: fit-content;
}

.btn_primary {
  font-family: $font-family-p;
  padding: 0.5rem 1rem;
  background-image: linear-gradient($color-btn-light 0%, $color-btn-dark 100%);
  color: $color-background-card;
  border-radius: $border-radius-sm;
  border: $color-btn-light;
  &:hover {
    background-image: linear-gradient($color-btn-dark 0%, $color-btn-dark 100%);
  }
}

.btn_delete {
  display: flex;
  justify-content: center;
  border: none;
  background-color: $color-secondary;
  color: $color-background-card;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: $border-radius-lg;
  &:hover {
    background-color: $color-secondary-incresed;
  }
}

.redirect {
  color: $color-accent;
  font-size: 14px;
}
.errors {
  color: $color-secondary;
}
.registerForm {
  flex-direction: row;
}
.form-columns {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.juan {
  margin-top: 3 * $spacing-md;
  width: 100%;
}
.inputWithLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.ticket-details {
  display: flex;
  width: 85%;
  flex-direction: column;
  background-color: $color-background-card;
  padding: 0 1rem;
  .description {
    padding: 0.1rem 1rem;
    background-color: $color-description;
    border-radius: $border-radius-sm;
    border: 1px solid $color-border-description;
    height: auto;
    max-height: 10rem;
    overflow: auto;
  }
}

//Mensajes de ticket
.messages-writter {
  max-height: 60%;
  height: fit-content;
  margin-top: 1rem;
  > .messages {
    overflow: auto;
    height: 70%;
    > .message {
      background-color: $color-aside;
      padding: 0.1rem 1rem;
      margin-top: 1rem;
      word-break: break-all; //Esta propiedad genera saltos de lineas si el texto es demasiado grande
    }
  }
  > .writter {
    display: flex;
    justify-content: center;
    height: fit-content;
    max-width: 100%;
    #showWriter {
      margin: 1rem;
    }
    > #writter {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      > .buttoner {
        align-self: center;
      }
      textarea {
        max-width: calc(100% - 1rem);
        width: 100%;
        min-width: 10%;
        min-height: 4rem;
        max-height: 8rem;
      }
    }
  }
}

.userData {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-background-card;
  .user-mainInfo {
    display: flex;
    padding: 0 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid $color-border;
    > div {
      width: 80%;
      display: flex;
      flex-direction: column;
      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        > div {
          width: 50%;
        }
      }
      &:first-child {
        width: 20%;
      }
    }
    #selectors {
      width: 100%;
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        gap: 1rem;
        li {
          padding: 0.5rem 1rem;
          margin-bottom: 0.5rem;
          &.selected {
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
          }
        }
      }
    }
  }
  .extraInfo {
    padding: 0 1rem;
    overflow: auto;
    > div {
      display: none;
      &:first-child {
        display: flex;
      }
      &.tickets-user {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
        gap: 1rem;
        .ticket {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
          width: 100%;
          border: none;
          > div:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.2rem;
            border-radius: $border-radius-lg;
            border: 1px solid $color-border;
            p {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0;
              padding: 0;
            }
          }
          section {
            display: flex;
            gap: 1rem;
            > * {
              text-align: left;
              margin: 0;
              padding: 0;
              width: max-content;
            }
            > .subject {
              color: blue;
            }
          }
        }
      }
      &#userInfo {
        display: flex;
        flex-wrap: wrap;
        h4 {
          width: 100%;
        }
        div {
          width: 50%;
          p:first-child {
            font-weight: 600;
          }
        }
      }
    }
  }
}
.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  margin: 70px auto;
  padding: 1.5rem;
  background: #fff;
  border-radius: $border-radius-sm;  
  position: relative;
  transition: all 5s ease-in-out;
  &.modal-delete-ticket {
    width: 30%;
    .content {
      flex-direction: row;
      justify-content: space-between;
      max-height: 30%;
      .btn_delete {
        margin-right: 1rem;
        width: 3rem;
        border-radius: $border-radius-sm;
      }
      p {
        width: 100%;
      }
    }
  }
  &.modal-edit-user {
    width: 30%;
    .content {
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
      >*{
        margin: 0 0.5rem;
      }
      .inputWithLabel {
        width: 100%;
      }
      >section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
  h2 {
    margin-top: 0;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.profilePicture {  
  max-height: 12rem;
  max-width: 12rem;
  width: 100%;
  object-fit: scale-down;  
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-background-card;
  justify-content: space-between;
  .kpi {
    width: 20rem;    
  }
  > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    > h3 {
      width: 100%;
    }
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      padding: 1rem;
      height: 5rem;
      width: 20rem;
      border-radius: $border-radius-sm;
      background-color: $color-aside;
      color: $color-btn-dark;      
      box-shadow: $box-shadow-md;
      &:hover {
        background-color: $color-aside-hover;
      }
    }
  }
}
.error-pages {  
  > div {
    background-color: $color-background-card;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 33%;
    border: 1px solid $color-border;
    border-radius: $border-radius-sm;
    h2 {
      margin-bottom: 3rem;
    }
  }
}
@media only screen and (max-width: $breakpoint-sm) {
  body {
    margin-top: 3rem;
    > main {
      flex-direction: column;
      width: 100%;
      height: 100%;
      &.notLogged {
        height: 100vh;
        width: 100vw;
      }
      > nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        flex-direction: row;
        width: 100%;
        height: 3rem;
        gap: 1rem;
        >.other-url, .home {
          display: flex;
          height: auto;
          flex-direction: row;
          padding: 0;
          margin: 0;
        }
      }
      >div {
        >header{
          flex-direction: row-reverse;
          flex-wrap: wrap-reverse;
          width: 100%;
          height: auto;
          justify-content: center;
          gap: 0;   
          > div {
            margin-top: 0;
            align-items: self-start;
            height: auto;
            max-width: auto;  
            h3 {
              margin-top: 0;
            }           
          }
          > p {
            width: 100%;
            line-break: break-all;            
          }
        }
        >div {
          flex-direction: column-reverse;
          >aside {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
            width: 100%;
            height: auto;
            h3 {
              width: 100%;
              height: auto;
            }
            form {
              width: 100%;
              section {
                width: 100%;
                justify-content: space-around;
                > * {
                  width: 70%;
                  text-align: center;
                  margin: 0;
                  padding: 0;
                }
              }
            }
            button {
              width: 70%;
            }
          }
          >section {
            &.common {
              width: max-content;
              max-width: 100%;
              height: 100%;
              padding: 0;
              margin: 0;
              > div {
                gap: 0;
                height: 50rem;
                overflow-x: auto;
                >div{
                  width: 50rem;
                }
              }
            }
            &.ticket-details {
              justify-content: space-between;
              width: 100%;
              height: auto;
              padding: 0;
              > div {
                height: 80%;                
                .description, .subject {
                  padding: 1rem;
                }
              }
              //Mensajes de ticket
              .messages-writter {
                height: 20%;
                > .messages {
                  overflow: auto;
                  height: 70%;
                  > .message {
                    background-color: $color-aside;
                    padding: 0.1rem 1rem;
                    margin-top: 1rem;
                    word-break: break-all; //Esta propiedad genera saltos de lineas si el texto es demasiado grande
                  }
                }
                > .writter {
                  > #writter {
                    
                    > .buttoner {
                      align-self: center;
                    }
                    textarea {
                      max-width: 100%;
                      width: 100%;
                      max-height: none;                      
                    }
                  }
                }
              }
            }
            &.userData{
              >.user-mainInfo {
                flex-wrap: wrap;
                >div, >div:first-child {
                  width: 100%;
                  justify-content: center;
                  align-items: center;
                }
              }
            }            
          }
        }
      }
    }
  }
  .container {
    height: 100%;
    max-height: none;
    >form {
      flex-wrap: wrap;
      >.form-columns {
        width: 100%;
        flex-wrap: wrap;
        >div {
          width: 100%;
        }
      }
    }
    
  }
  .modal {
    width: auto !important; 
  }
}
