@import "variables.scss";
@import "nav.scss";
@import "aside.scss";
@import "header.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  margin: 0;
  padding: 0;
  background-color: $color-background;
}

h2 {
  font-family: $font-family-header;
  margin: 0;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    //Se añade > para segurarse que sea la anidacion directa
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    > div {
      //Se añade > para segurarse que sea la anidacion directa
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 90%;
    }
  }
}
.tickets {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  background-color: $color-background-card;
  padding: 0 1rem;
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-height: calc(100% / 12);
    height: 100%;
    &:first-child {
      cursor: default;
      background-color: $color-background;
      text-align: center;
      border: 1px solid $color-border;
    }
  }
}
a {
  text-decoration: none;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

input {
  border-radius: $border-radius-sm;
  border: 1px solid $color-accent;
  text-align: center;
  font-size: 14px;
  color: $color-accent;
}

label {
  font-size: 14px;
  color: $color-accent;
}

.container {
  background-color: $color-background-card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
  border-radius: $border-radius-lg;
  border: 1px solid $color-bg-card;
  box-shadow: $box-shadow-sm;
  gap: 1rem;
}

.container--index {
  max-width: 30rem;
  max-height: 15rem;
}

.container--register {
  max-width: 30rem;
  max-height: 15rem;
}

.btn_primary {
  font-family: $font-family-p;
  padding: 0.5rem 1rem;
  background-image: linear-gradient($color-btn-light 0%, $color-btn-dark 100%);
  color: white;
  border-radius: $border-radius-sm;
  border: $color-btn-light;
  &:hover {
    background-image: linear-gradient($color-btn-dark 0%, $color-btn-dark 100%);
  }
}

.btn_delete {
  display: flex; 
  justify-content: center;
  border: none;
  background-color: red;
  color: $color-background-card;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: $border-radius-lg; 
  &:hover {
    background-color: darkred;
  }
}

.redirect {
  color: $color-accent;
  font-size: 14px;
}
.errors {
  color: $color-secondary;
}
.registerForm {
  flex-direction: row;
}
.form-columns {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.juan {
  margin-top: 3 * $spacing-md;
  width: 100%;
}
.inputWithLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

//Los tamaños de cada sección de los tickets
.ticket {
  text-align: center;
  border: 1px solid $color-border;
}
.subject {
  text-align: left;
  margin-left: 0.5rem;
  width: 45%;
}
.requester {
  width: 15%;
}
.state {
  width: 10%;
}
.technician {
  width: 20%;
}
.createdAt {
  width: 10%;
}

//Paginacion
.pagination {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.page {
  text-align: center;
  border-radius: 1rem;
  color: black;
  min-width: 1rem;
}

.page-active {
  background-color: $color-btn-light;
  color: $color-background-card;
}

.ticket-details {
  display: flex;
  width: 85%;
  flex-direction: column;
  background-color: $color-background-card;
  padding: 0 1rem;
}
.description {
  padding: 0.1rem 1rem;
  background-color: $color-description;
  border-radius: $border-radius-sm;
  border: 1px solid $color-border-description;
  max-height: 30%;
  overflow: visible;
}
//Mensajes de ticket
.messages-writter {
  max-height: 60%;
  margin-top: 1rem;
  > .messages {
    overflow: scroll;
    height: 70%;
    > .message {
      background-color: $color-aside;
      padding: 0.1rem 1rem;
      margin-top: 1rem;
      word-break: break-all; //Esta propiedad genera saltos de lineas si el texto es demasiado grande
    }
  }
  > .writter {
    max-height: 40%;
    > #writter {
      display: flex;
      flex-direction: column;
      align-items: center;
      > .buttoner {
        align-self: center;
      }
      textarea {
        max-width: 80rem;
        max-height: 8rem;
        width: 80rem;
      }
    }
  }
}
