<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{{ route('TicketsController.store') }}" method="post">
        {{ csrfField() }}
        <label for="subject">Asunto</label>
        <input type="text" name="subject">
        <label for="description">Descripcion</label>
        <input type="text" name="description">
    <input type="submit" value="Crear ticket">
    </form>
</body>
</html>