<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGI-IT tickets</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/tickets.css">
    <link rel="stylesheet" href="../css/transitions.css">
</head>

<body>
    @include('partials/scripts/transitionsSwup_js.edge')    
    <section class="container">        
        @include('partials/header.edge')
        @include('partials/nav.edge')
        <main class="tickets"  id="swup">
          <div>
            <p class="subject">Asunto</p>
            <p class="requester">Solicitante</p> 
            <p class="state">Estado</p>
            <p class="technician">Tecnico asignado</p>                            
            <p class="createdAt">Fecha de creación</p>            
          </div>
          <hr>
          {{--Bucle para mostrar tickets creados--}}
            @each(ticket in tickets)
              <div>
                <p class="subject">{{ticket.subject}}</p>

                <p class="requester">
                  @each(user in ticket.User)
                    @if(user.$extras.pivot_role == Roles.REQUESTER)
                      {{user.profile.fullName}}
                    @endif
                  @endeach
                </p>                
                
                <p class="state">{{ticket.state}}</p>

                <p class="technician">
                  @each(user in ticket.User)
                    @if(user.$extras.pivot_role == Roles.TECHNICIAN)
                      {{user.profile.fullName}}
                    @endif
                  @endeach
                </p>

                <p class="createdAt">{{ticket.createdAt.toFormat('dd-MM-yyyy')}}  </p>
                
              </div>
              <hr>
            @endeach            
        </main>
        @include('partials/aside.edge')
    </section>
</body>

</html>