<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGI-IT tickets</title>
    @entryPointStyles('scss')
</head>
<body>
  <script defer src="../js/tickets.js"></script>
  
    @include('partials/scripts/createMessage_js.edge')
    <main>  
      @include('partials/nav.edge')
      <div>
        @include('partials/header.edge')
        <div>
          
          <section class="ticket-details">
            <div id="subject">
              <p>{{ticket.subject}}</p>
              <p>
                <a class="requester"
                  @each(user in ticket.User)
                    @if(user.$extras.pivot_role == Roles.REQUESTER)
                    href="{{ route('UsersController.show', [user.id]) }}">{{user.profile.fullName}}
                    @endif
                  @endeach
                </a>
                creado hace {{ticket.timeCreated}} el {{ticket.createdAt.toFormat('dd/MM/yyyy')}}
              </p>                 
            </div>
            <div class="description">
              <p>Descripción</p>
              <p>{{ticket.description}}</p>
            </div>
            <section class="messages-writter">
              <h4>Mensajes</h4>
              <div class="messages" id="messages">
                  @each(message in ticket.message)
                    <div class="message">
                      <p>De: {{message.user.profile.fullName}}</p>
                      <p>{{message.message}}</p>
                    </div>
                  @end
              </div> 
            
              <div class="writter">
                <div id="writter">
                  <form>
                      {{ csrfField() }}
                      <textarea name="messager" oninput="auto_grow(this)" placeholder="Escribe un mensaje"></textarea>
                  </form>
                  <div class="buttoner">
                    <button class="btn_primary" id="hideWriter">Cancelar</button>
                    <button class="btn_primary" id="sendMessage">Enviar</button>
                  </div>
                  <p id="response"></p>
                </div> 
                <button class="btn_primary" id="showWriter">Escribir mensaje</button> 
              </div>
              
            </section>
          </section>
          @include('partials/aside.edge')
        </div>
      </div>
      
    </main>
    <div id="delete_confirmation" class="popup-overlay">
      <div class="modal">
          <h2>Confirmación borrado</h2>
          <div class="content">
              <p>¿Estas seguro que quieres borrar el ticket? No se podra recuperar</p>
              <a href="#" class="btn_primary">No borrar</a>
              <button class="btn_delete" id="delete_button">Borrar</button>
          </div>
      </div>
    </div>
</body>
</html>