<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ t('tickets.ticket') }} {{ticket.id}}</title>
    @entryPointStyles('scss')
</head>
<body>  
  <script defer src="../js/tickets.js"></script>    
    @include('partials/scripts/createMessage_js.edge')
    <main>  
      @include('partials/nav.edge')
      <div>
        @include('partials/header.edge')
        <div>          
          <section class="ticket-details">
            <div id="subject">
              <p>{{ticket.subject}}</p>
              <p>
                <a class="requester"
                  @each(user in ticket.User)
                    @if(user.$extras.pivot_role == Roles.REQUESTER)
                    href="{{ route('UsersController.show', [user.id]) }}">{{user.profile.fullName}}
                    @endif
                  @endeach
                </a>
                {{ t('tickets.whenCreatedAt', { time: ticket.timeCreated.time, format: ticket.timeCreated.format }) }} {{ t('tickets.date', {date: ticket.createdAt}) }}
              </p>                 
            </div>
            <div class="description">
              <p>{{ t('tickets.description') }}</p>
              <p>{{ticket.description}}</p>
            </div>
            <section class="messages-writter">
              <h4>{{ t('messaje.messages') }}</h4>
              <div class="messages" id="messages">
                  @each(message in ticket.message)
                    <div class="message">
                      <p>{{ t('messaje.from', {name: message.user.profile.fullName}) }}
                      <p>{{message.message}}</p>
                    </div>
                  @end
              </div> 
            
              <div class="writter">
                <div id="writter">
                  <form>
                      {{ csrfField() }}
                      <textarea name="messager" oninput="auto_grow(this)" placeholder="{{ t('messaje.placeholder') }}"></textarea>
                  </form>
                  <div class="buttoner">
                    <button class="btn_primary" id="hideWriter">{{ t('messaje.buttonCancel') }}</button>
                    <button class="btn_primary" id="sendMessage">{{ t('messaje.buttonSend') }}</button>
                  </div>
                  <p id="response"></p>
                </div> 
                <button class="btn_primary" id="showWriter">{{ t('messaje.buttonShow') }}</button> 
              </div>
              
            </section>
          </section>
          @include('partials/aside.edge')            
        </div>
      </div>      
    </main>
    @include('partials/deleteTicketModal.edge')      
</body>
</html>