<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar {{user.username}}</title>
</head>
<script>
    function updateUser() {
        //Obtencion de datos para la peticion ajax
        const data = {
            userId: {{ user.id }},
            username: document.querySelector('#username').value,
            _csrf: document.querySelector('[name="_csrf"]').value,
        }
        //Peticion ajax
        fetch("{{ route('UsersController.update', [user.id]) }}", {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json', // Especificar el tipo de contenido si estás enviando datos en formato JSON
                'Authorization': 'Bearer {{token.token}}'

            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Error en la solicitud: ' + response.status);
            }
            return response.json(); // Devuelve la promesa resultante de parsear el cuerpo JSON
        })
        .then(data => {
            console.log(data.message);
            // Realizar más operaciones aquí con los datos actualizados
        })
        .catch(error => {
            console.error(error);
        })
    }
</script>

<body>
    <form action="" method="post">       
        {{ csrfField() }} 
        <label for="username">Usuario</label>
        <input type="text" value="{{user.username}}" name="username" id="username">
    </form>
    <button id="update" onclick="updateUser()">Actualizar</button>
</body>


</html>