<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar {{user.username}}</title>
    {{--Incluir el script--}}
    @include('partials/scripts/updateUser_js.edge')

</head>
<body>
    <p>Editar el perfil del usuario</p>
    <form>       
        {{ csrfField() }} 
        <label for="username">Usuario</label>
        <input type="text" value="{{user.username}}" name="username" id="username"><br>

        <label for="email">Correo electronico</label>
        <input type="email" value="{{user.email}}" name="email" id="email"><br>

        <label for="name">Nombre</label>
        <input type="text" value="{{profile.name}}" name="name" id="name"><br>

        <label for="surname">Apellido</label>
        <input type="text" value="{{profile.surname}}" name="surname" id="surname"><br>
        
        <label for="birthday">Cumpleaños</label>
        <input type="date" value="{{profile.birthday.toFormat('yyyy-MM-dd')}}" name="birthday" id="birthday"><br>
        
        @if( auth.user.roles == roles.ADMIN )
        <label for="roles">Rol</label>
        <select name="roles" id="roles">
            <option value="{{ roles.ADMIN }}"
            @if(user.roles == roles.ADMIN)
              selected
            @end
            >Administrador</option>
            <option value="{{ roles.REQUESTER }}"
            @if(user.roles == roles.REQUESTER)
              selected
            @end
            >Solicitante</option>
            <option value="{{ roles.TECHNICIAN }}"
            @if(user.roles == roles.TECHNICIAN)
              selected
            @end
            >Tecnico</option>
        </select>
        @endif
    </form>
    <button id="update" onclick="updateUser()">Actualizar</button>
    <p id="response"></p>
</body>


</html>