<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ t('generalPages.user') }} {{user.username}}</title>    
    @entryPointStyles('scss')
</head>
<body>
  <script defer src="../js/redirection-url.js"></script>
  <script defer src="../js/users.js"></script>
    <main>
      @include('partials/nav.edge')
    <div>
      @include('partials/header.edge')
      <div>
        <section class="userData">
          <section class="user-mainInfo">
            <div>
              <h4>{{ t('generalPages.userDetails') }}</h4>
              <img src="/{{user.profile.picture}}" alt="{{ t('generalPages.profilePicture') }}" class="profilePicture">
            </div>       
            <div>
              <h4>{{user.profile.fullName}}</h4>
              <div>
                <div>
                  <p>{{ t('generalPages.mail') }}</p>
                  <p>{{user.email}}</p>
                </div>
                <div>
                  <p>{{ t('generalPages.jobPosition') }}</p>
                  <p>
                    @if(user.profile.jobPosition)
                      {{user.profile.jobPosition}}
                    @else
                      -
                    @end
                  </p>
                </div>                
                <div>
                  <p>{{ t('generalPages.phoneNumber') }}</p>
                  <p>
                    @if(user.profile.phoneNumber)
                      {{user.profile.phoneNumber}}
                    @else
                      -
                    @end
                  </p>
                </div>
                <div>
                  <p>{{ t('generalPages.role') }}</p>
                  <p>{{ t('enums.roles',{rol: user.roles}) }}</p>
                </div>
              </div>              
            </div> 
            <div id="selectors">
              <ul>
                <li class="selected" data-selector="userInfo">{{ t('generalPages.userInfo') }}</li>
                <li data-selector="tickets-requester" >{{ t('generalPages.ticketCreatedBy',{username: user.username}) }}</li>
                @if(user.roles != Roles.REQUESTER)
                  <li data-selector="tickets-technician" >{{ t('generalPages.AssignedTickets') }}</li>
                @end
              </ul>
            </div>
          </section>
          <section class="extraInfo">              
              <div id="userInfo">
                <h4>{{ t('generalPages.addtionalInfo') }}</h4>
                  <div>
                      <p>{{ t('generalPages.name') }}</p>
                      <p>{{user.profile.name}}</p>
                  </div>
                  <div>
                      <p>{{ t('generalPages.surname') }}</p>
                      <p>{{user.profile.surname}}</p>
                  </div>
                  <div>
                      <p>{{ t('generalPages.birthday') }}</p>
                      <p>{{ t('tickets.date', {date: user.profile.birthday}) }}</p>
                  </div>
                  <div>
                      <p>{{ t('tickets.createAt') }}</p>
                      <p>{{ t('tickets.date', {date: user.profile.createdAt}) }}</p>
                  </div>
              </div>
              <div id="tickets-requester" class="tickets-user">
                @each(ticket in user.tickets)
                  @if(ticket.$extras.pivot_role == Roles.REQUESTER)
                  <div class="ticket data-url" data-url="{{route('TicketsController.show', [ticket.id])}}">
                    <div><p><i class="material-icons">confirmation_number</i></p></div>                    
                    <div>
                      <section>
                        <p class="subject"
                        @if(ticket.state == State.SOLVED)
                          style="color:gray"
                        @end
                        >{{ticket.subject}}</p>
                        <p class="id">#{{ticket.id}}</p>
                      </section>
                      <section>                                        
                        <p class="createdAt">{{ t('tickets.whenCreatedAt', { time: ticket.timeCreated.time, format: ticket.timeCreated.format }) }} {{ t('tickets.date', {date: ticket.createdAt}) }}</p>
                        <p class="state">{{ t('tickets.state')}}: {{ t('enums.states',{state: ticket.state}) }}</p>
                        @each(user in ticket.User)
                          @if(user.$extras.pivot_role == Roles.TECHNICIAN)
                          <p>{{ t('tickets.assignedTechnician')}}: <a class="technician" href="{{route('UsersController.show', [user.id])}}">{{user.profile.fullName}}</a></p>
                          @endif
                        @endeach                      
                      </section>
                    </div>
                  </div>
                  @endif                  
                @endeach
              </div>
              {{--Mostrar solo si el usuario que se muestra es tecnico--}}
              @if(user.roles != Roles.REQUESTER)
                <div id="tickets-technician" class="tickets-user">
                  @each(ticket in user.tickets)
                    @if(ticket.$extras.pivot_role == Roles.TECHNICIAN)
                      <div class="ticket data-url" data-url="{{route('TicketsController.show', [ticket.id])}}">
                        <div><p><i class="material-icons">confirmation_number</i></p></div>                    
                        <div>
                          <section>
                            <p class="subject"
                            @if(ticket.state == State.SOLVED)
                              style="color:gray"
                            @end
                            >{{ticket.subject}}</p>
                            <p class="id">#{{ticket.id}}</p>
                          </section>
                          <section>                                        
                            <p class="createdAt">{{ t('tickets.whenCreatedAt', { time: ticket.timeCreated.time, format: ticket.timeCreated.format }) }} {{ t('tickets.date', {date: ticket.createdAt}) }}</p>
                            <p class="state">{{ t('tickets.state')}}: {{ t('enums.states',{state: ticket.state}) }}</p>
                            @each(user in ticket.User)
                              @if(user.$extras.pivot_role == Roles.REQUESTER)
                              <p>{{ t('tickets.requester')}}: <a class="technician" href="{{route('UsersController.show', [user.id])}}">{{user.profile.fullName}}</a></p>
                              @endif
                            @endeach                      
                          </section>
                        </div>
                      </div>
                    @endif                  
                  @endeach
                </div>                
              @endif
          </section>
        </section>
      </div>
    </div>
  </main>  
  @if(auth.user.id == user.id || auth.user.roles == Roles.ADMIN)
    @include('partials/editUserModal.edge')
  @endif
</body>
</html>